<div class="box wide">
  <div class="legend">
    <%= t :CreateAnAccount %>
  </div>
  <% if Rails.application.open_signups? %>
    <p>
      <%= raw t :NotAUserSignUp %>
    </p>
  <% else %>
    <p>
      <%= raw t :SignupSummary %>
    <% if Rails.application.allow_invitation_requests? %>
      <%= raw t :RequestOnePublicly %>
    <% else %>
      <%= raw t :RequestOneInChat %>
    <% end %>
    </p>
  <% end %>
</div>
