<div class="box wide">
  <div class="legend">
    <%= t :PassAlongAnInvitation %>
  </div>

  <p>
    <%= raw t :PassAlongAnInvitationSummary, :username => @user.invited_by_user.try(:username) %>
  </p>

  <%= render :partial => "users/invitationform",
    :locals => { :return_home => true } %>

  <%= t :or %>

  <p>
  <%= button_to t("SkipPassAlongAnInvitation"), "/", :method => :get %>
  </p>
</div>
