<div class="box wide">
  <div class="legend">
    <%= t :RequestAnInvitation %>
  </div>

  <p>
    <%= raw t :PublicRequestText %>
  </p>

  <p>
    <%= t :EmailMustBeValidText %>
  </p>

  <%= form_for @invitation_request,
  :url => create_invitation_by_request_path do |f| %>
    <p>
    <%= f.label :name, t("NameNotUsernameLabel") %>
    <%= f.text_field :name, :size => 30 %>
    <br />

    <%= f.label :email, t("EmailAddressLabel") %>
    <%= f.email_field :email, :size => 30 %>
    <br />

    <%= f.label :memo, t("UrlLabel") %>
    <%= f.text_field :memo, :size => 30 %>
    <br />
    <label></label>
    <span class="na"><%= t :UrlToVerifyYou %></span>
    </p>

    <p>
    <%= submit_tag t("RequestInvitation") %>
    </p>
  <% end %>
</div>
