<div class="box" id="story_box">
  <div class="legend">
    <%= t :SuggestStoryChanges %>
  </div>

  <%= form_for @story, :url => story_suggest_path(@story.short_id),
  :method => :post, :html => { :id => "edit_story" } do |f| %>
    <%= render :partial => "stories/form", :locals => { :story => @story,
      :f => f, :suggesting => true } %>

    <p></p>

    <div class="box">
      <div class="boxline actions">
        <%= submit_tag t("SuggestChanges") %>
        &nbsp; <%= raw t :orCancel, :story_id => story_path(@story.short_id) %>
      </div>
    </div>
  <% end %>
</div>

