<div class="box wide">
  <div class="legend">
    <%= t :ResetPassword %>
  </div>

  <p>
    <%= t :ResetPasswordText %>
  </p>

  <%= form_tag reset_password_path do %>
    <%= label_tag :email, t("EmailOrUsernameLabel") %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag t("ResetPassword") %>
    </p>
  <% end %>
</div>
