<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table>
  <tr>
    <td width="125"><em><%= t :emphasizedText %></em></td>
    <td><%= raw t :surroundTextWithAsterisks %></td>
  </tr>
  <tr>
    <td><strong><%= t :strongText %></strong></td>
    <td><%= raw t :surroundTextWithTwoAsterisks %></td>
  </tr>
  <tr>
    <td><strike><%= t :struckThrough %></strike></td>
    <td><%= raw t :surroundTextWithTwoTilde %></td>
  </tr>
  <tr>
    <td><tt><%= t :fixedWidth %></tt></td>
    <td><%= raw t :surroundTextWithBackticks %></td>
  </tr>
  <tr>
    <td><a href="http://example.com/"
      style="color: inherit;"><%= t :linkedText %></a></td>
    <td><tt>[<%= t :linkedText %>](http://example.com/)</tt> <%= t :linkedTextAlternative %></td>
  </tr>
  <tr>
    <td><blockquote> <%= t :quotedText %></blockquote></td>
    <td><%= raw t :prefixQuotedTextWith %></td>
  </tr>
  <tr>
    <td><pre style="margin: 0px;"><%= t :preText %></pre></td>
    <td><%= raw t :preTextHint %></td>
  </tr>
  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td>(<%= t :inlineImage %>)</td>
      <td><%= raw t :inlineImageHint %></td>
    </tr>
  <% end %>
  </table>
</div>
