<div class="box wide">
  <div class="legend">
    <%= t :RequestAHat %>
  </div>

  <%= raw t :HatExplainer %>

  <%= form_for @hat_request, :url => create_hat_request_path do |f| %>
    <p>
    <%= f.label :hat, t("HatLabel") %>
    <%= f.text_field :hat, :size => 20,
      :placeholder => t("HatPlaceholder") %>
    <br />

    <%= f.label :link, t("LinkLabel") %>
    <%= f.text_field :link, :size => 50,
      :placeholder => t("LinkPlaceholder") %>
    <br />

    <%= f.label :comment, t("CommentLabel") %>
    <%= f.text_area :comment, :rows => 4,
      :placeholder => t("CommentPlaceholder") %>
    </p>

    <p>
    <%= submit_tag t("RequestHat") %>
    </p>
  <% end %>
</div>
